<div class="logo-image">
  <img alt="logo" src="../../assets/icon-left-font.png" />
</div>

<div class="right-nav">
  <button
    routerLink="signup"
    routerLinkActive="active"
    *ngIf="!(isAuth$ | async)"
  >
    INSCRIPTION
  </button>

  <button
    routerLink="login"
    routerLinkActive="active"
    *ngIf="!(isAuth$ | async)"
  >
    CONNECTION
  </button>

  <button
    routerLink="onLogout"
    routerLinkActive="active"
    *ngIf="isAuth$ | async"
    (click)="onLogout()"
    aria-label="Se déconnecter"
  >
    Déconnexion
  </button>
</div>
