/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, sans-serif;
  letter-spacing: 0.1em;
  white-space: pre-line;
}
html {
  height: 100%;
  background: linear-gradient(#ffffff, transparent),
    linear-gradient(270deg, #4e5166, transparent),
    linear-gradient(250deg, #ffd7d7, transparent);

  background-blend-mode: screen;
  background-attachment: fixed;
}
